/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: var(--ifm-hero-background-color);
}

.heroBanner .row {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 0 0 2rem 0;
  width: 100%;
}

.featureImage {
  height: 180px;
}

.heroImg {
  height: 300px;
  margin: 10px 0;
}

.configSnippets {
  margin: 10px 0;
}

.pitch {
  margin: 40px 0 10px 0;
}

.loveSection {
  padding: 60px 0;
  background-color: #EB8788;
  text-align: center;
  --ifm-heading-color: #FFF4E9;
  transition: background-color 0.3s ease;
}

a:hover .loveSection {
  background-color: #D97778;
  --ifm-heading-color: #FFF4E9;
}

html[data-theme="dark"] a:hover .loveSection {
  background-color: #c16768;
  --ifm-heading-color: #FFF4E9;
}

.loveSectionPlea {
  text-align: center;
}

.loveImg {
  height: 200px;
}

.goldSponsors {
  --logo-height: 40px;
  --basis: calc(100% - 10px);
  margin: 0;
}

.silverSponsors {
  --logo-height: 50px;
  --basis: calc(50% - 10px);
}

.sponsorsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.sponsorsBox img {
  max-width: 100%;
  max-height: 60px;
  margin-bottom: 10px;
}

.sponsorsBox > a {
  flex-basis: var(--basis);
  flex-grow: 0;
}

.goldSponsors > a > img,
.goldSponsors img {
  width: 100%;
  max-height: 60px;
  margin-bottom: 10px;
}

.synadiaImg {
  height: 90px;
  margin: 10px 0 50px 0;
}

.furtherButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

.learnMoreButton {
  margin-top: 0.5rem;
  align-self: flex-start;
}

.tabbedSection {
  background-color: transparent;
  padding: 0;
  margin: 0 0 40px 0;
}

.tabbedSectionImg {
  max-height: 300px;
  width: auto;
  margin-right: 20px;
}

.fullWidthImageSection {
  margin: 0;
  padding: 0;
  width: 100%;
}

.writtenInGo {
  font-size: 1.5rem;
}
