name: Docker Edge

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  build:
    if: ${{ github.repository == 'warpstreamlabs/bento' || github.event_name != 'schedule' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:

    - name: Check Out Repo
      uses: actions/checkout@v6

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

    - name: Install Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ./
        file: ./resources/docker/Dockerfile
        builder: ${{ steps.buildx.outputs.name }}
        platforms: linux/amd64,linux/arm64
        push: true
        tags: warpstreamlabs/bento:edge,ghcr.io/${{ github.repository_owner }}/bento:edge

    - name: Build and push CGO
      uses: docker/build-push-action@v6
      with:
        context: ./
        file: ./resources/docker/Dockerfile.cgo
        push: true
        tags: warpstreamlabs/bento:edge-cgo,ghcr.io/${{ github.repository_owner }}/bento:edge-cgo
