name: Integration Test

on:
  schedule:
    - cron: '0 1 * * *' # run at 1 AM UTC
  
  # Allow a subset of actions to run on PR open and push
  pull_request:
  # Allow to trigger the integration tests manually
  workflow_dispatch:

jobs:
  deps:
    if: ${{ github.repository == 'warpstreamlabs/bento' || github.event_name != 'schedule' }}
    name: Check dependencies
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.x
        check-latest: true
        cache: true

    - name: Deps
      run: make deps && git diff-index --quiet HEAD || { >&2 echo "Stale go.{mod,sum} detected. This can be fixed with 'make deps'."; exit 1; }

  prepare-tests:
    name: Determine affected tests
    if: ${{ github.repository == 'warpstreamlabs/bento' || github.event_name != 'schedule' }}
    needs: [deps]
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.affected_tests.outputs.packages }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        fetch-depth: ${{ github.ref_name == 'main' && 1 || 0 }}

    - name: Determine Affected Tests
      id: affected_tests
      run: |
        BRANCH_NAME="${{ github.head_ref || github.ref_name }}"
        
        if [ "$BRANCH_NAME" == "main" ]; then
          echo "packages=./..." >> $GITHUB_OUTPUT
        else
          # Fetch main branch for comparison
          git fetch origin main:main
          
          # Get all changes in this branch compared to main
          packages=$(git diff --name-only main...HEAD | 
            xargs dirname | sort -u | 
            grep '^internal/impl/' | 
            xargs -I {} sh -c 'find {} -maxdepth 1 -name "*_test.go" -quit | grep -q . && echo "./{}"' | 
            xargs)
          
          echo "packages=${packages:-./...}" >> $GITHUB_OUTPUT
        fi

  integration-test:
    if: ${{ github.repository == 'warpstreamlabs/bento' || github.event_name != 'schedule' }}
    name: Integration Test - ${{ matrix.index }}/${{ matrix.parallel }}
    needs: [deps, prepare-tests]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # split tests into 4 parallel runs based on test durations.
        parallel: [4] 
        index: [0, 1, 2, 3]
    env:
      CGO_ENABLED: 0
    steps:

    - name: Checkout code
      uses: actions/checkout@v5

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.x
        check-latest: true
        cache: true

    - name: Deps
      run: make deps

    - name: Install gotestsum
      run: go install gotest.tools/gotestsum@latest

    - name: Download JUnit Summary from Previous Workflow
      id: download-artifact
      uses: dawidd6/action-download-artifact@v6
      continue-on-error: true
      with:
        workflow_conclusion: success
        name: junit-integration-summary
        if_no_artifact_found: warn

    - name: Split integration tests
      id: test_split
      uses: hashicorp-forge/go-test-split-action@v2.0.0 
      with:
        index: ${{ matrix.index }}
        total: ${{ matrix.parallel }}
        junit-summary: ./junit-integration-summary.xml
        packages: ${{ needs.prepare-tests.outputs.packages }}
        list: '^Test.*Integration.*$'

    - name: Run Integration Test (Shard ${{ matrix.index }})
      run: |
        gotestsum --junitfile shard-summary.xml --format short-verbose -- -run "${{ steps.test_split.outputs.run }}" -timeout 60m ./...

    - name: Upload test artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: junit-integration-summary-${{ matrix.index }}
        path: shard-summary.xml
        retention-days: 1

  # Since we're sharding integration test runs, we need a way to combine the results back 
  # together again before being used to calculate the next split strategy.
  integration-combine-summaries:
    name: Combine Integration Test Reports
    if: always()
    needs: [integration-test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Install junit-report-merger
        run: npm install -g junit-report-merger

      - name: Merge reports
        run: jrm ./junit-integration-summary.xml "junit-integration-summary-0/*.xml" "junit-integration-summary-1/*.xml" "junit-integration-summary-2/*.xml" "junit-integration-summary-3/*.xml"

      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: junit-integration-summary
          path: ./junit-integration-summary.xml
          retention-days: 7
