name: Integration Test

on:
  schedule:
    - cron: '0 1 * * *' # run at 1 AM UTC

  # Allow to trigger the integration tests manually
  workflow_dispatch:

jobs:
  integration-test:
    if: ${{ github.repository == 'warpstreamlabs/bento' || github.event_name != 'schedule' }}
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:

    - name: Checkout code
      uses: actions/checkout@v5

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.x
        check-latest: true

    - name: Deps
      run: make deps && git diff-index --quiet HEAD || { >&2 echo "Stale go.{mod,sum} detected. This can be fixed with 'make deps'."; exit 1; }

    - name: Integration Test
      run: go test -run "^Test.*Integration.*$" -timeout 60m ./...
